/* General */
body {
  height: 100vh;
  background-color: var(--primary-blue);
}
a {
  color: var(--terceary-blue);
}
.content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Form container */
.form-content-container {
  width: 60vw;
  padding: 2rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-white);
  border: 0.1rem solid var(--primary-cyan);
  border-radius: 2rem;
  box-shadow: var(--secondary-black) 0rem 0.25rem 1rem,
    var(--secondary-black) 0rem 0.5rem 2rem;
}
.form-content-container h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03rem;
  color: var(--primary-blue);
}
.form-content-container label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-black);
  margin-bottom: 0.5rem;
}

/* Problem container */
.problem-container {
  display: flex;
  flex-direction: column;
}
.custom-problem-select {
  position: relative;
}
.custom-problem-select select {
  appearance: none;
  width: 100%;
  position: relative;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  color: var(--primary-gray);
  border: 0.1rem solid var(--secondary-black);
  border-radius: 1rem;
  height: 3rem;
  cursor: pointer;
}
.custom-problem-select span::after {
  content: "⬇️";
  position: absolute;
  pointer-events: none;
  top: 28%;
  right: 2%;
}
.custom-problem-select select option:checked {
  color: var(--secondary-roxul);
}
.custom-problem-select select:focus + span::after {
  animation: rotate-180 1s ease-in 1 forwards;
}

/* Input container */
.input-container {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--primary-gray);
  resize: none;
  outline: none;
  height: 9rem;
  border: 0.1rem solid var(--secondary-black);
  border-radius: 1rem;
}
.input:focus,
.input:focus-visible,
.custom-problem-select select:focus,
.custom-problem-select select:focus-visible {
  outline: none;
  border: 0.1rem solid var(--secondary-purple);
}

/* Button container */
.solve {
  height: 3rem;
  background-color: var(--primary-purple);
  color: var(--terceary-blue);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
}
.solve:focus,
.solve:hover {
  outline: none;
  background-color: var(--secondary-purple);
}
