@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
  /* BREAKPOINTS */

  --breakpoint-xs: 480px;
  --breakpoint-ss: 620px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1060px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1700px;

  /* COLORS */
  --color-utils-white-100: #ffffff;
  --color-utils-white-200: #f8f8f8;

  --color-utils-black-100: #000000;
  --color-utils-black-200: #1b1b1b;
  --color-utils-black-300: #11111a;

  --color-utils-gray-100: #716a6a;

  --color-utils-success: #149700;
  --color-utils-error: #e20d18;

  --color-main-purple-100: #81599f;
  --color-main-purple-200: #a87bcb;

  --color-main-blue-100: #490de4;
  --color-main-blue-200: #5b4cf3;
  --color-main-blue-300: #d9ecff;
  --color-main-blue-400: #e9f2fb;

  --color-main-cyan-100: #3cd4d9;
  --color-main-cyan-200: #a4e9eb;

  --color-main-purplue-100: #7d6ef2;
  --color-main-purplue-200: #897efa;
  --color-main-purplue-300: #9a8fec;
  --color-main-purplue-400: #d3cff4;
  --color-main-purplue-500: #eae9f5;

  /* SPACING */
  --spacing-32: 8rem;
  --spacing-64: 16rem;
  --spacing-128: 32rem;

  /* FONT */
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* BACKGROUND IMAGES */
  --background-image-ondulation: url('./assets/ondulation.svg');
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
